.caption {font : caption;}
.messagebox {font : messagebox;}

P {
	font : Verdana;
	font-family : Verdana, sans-serif;
	font-size : x-small;
	color : White;
}
PRE {
	font : Verdana;
	font-family : Verdana, sans-serif;
	font-size : x-small;
	color : White;
}

DIV {
	text-align : justify;
	width : 80%;
	font : Verdana;
	font-family : Verdana, sans-serif;
	font-size : x-small;
	color : White;
}
BODY {
	font : Verdana;
	font-family : Verdana, sans-serif;
	font-size : x-small;
	background : Black;
	color : White;
	background-image: url(acscript_background.jpg); 
}
TD {
	font : Verdana;
	font-family : Verdana, sans-serif;
	font-size : x-small;
	color : White;
}

A {
	font : Verdana;
	font-family : Verdana, sans-serif;
	text-decoration: none;
	color : Yellow;
}
A:Active {
	color : #FF0000;
	text-decoration: none;
}
A:Hover {
	color : #FF8C00;
	text-decoration: none;
}
LI {
	font : Verdana;
	font-family : Verdana, sans-serif;
	font-size : x-small;
	color : White;
	background-image: url(acscript_background.jpg); 
}
CODE{
	font : Verdana;
	font-family : Verdana, sans-serif;
	font-size : Small;
	color : Lightgreen;
}

