
body.TOC
	{
	background-image: url(BkgdBody.gif);
	scrollbar-base-color: #BFA16D;
	border-right: 1 solid #CFB88F;
	margin-left: 12pt;
	margin-right: 12pt;
	margin-top: 12pt;
	margin-bottom: 12pt;
	font-family: Arial;
	}
ul.TOC
	{
	margin-top: 12pt;
	margin-bottom: 12pt;
	padding: 0;
	}
ul.SubTOC
	{
	margin-left: 0pt;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	}
ul.Hidden
	{
	display: none;
	}

body.Normal
	{
	background-image: url(BkgdBody.gif);
	scrollbar-base-color: #BFA16D;
	border-left: 2 solid #AF8B4B;
	margin-left: 0.25in;
	margin-right: 0.25in;
	margin-top: 12pt;
	margin-bottom: 12pt;
	font-family: Arial;
	}

table.Title
	{
	background-image: url(BkgdHead.gif); 
	border-top: #CFB88F;
	border-left: #CFB88F;
	border-bottom: #93743F;
	border-right: #AF8B4B;
	border-style: solid;
	border-width: 1.5pt;
	padding: 0;
	}
tr.Title
	{
	margin: 0;
	padding: 0;
	}
td.Title
	{
	margin: 0;
	text-align: center;
	}
img.Inset
	{
	border-bottom: #CFB88F;
	border-right: #CFB88F;
	border-top: #93743F;
	border-left: #AF8B4B;
	border-style: solid;
	border-width: 1.5pt;
	margin: 0;
	padding : 0;
	}
p.Title
	{
	margin-top: 0pt;
	margin-bottom: 6pt;
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
	}
p.SubTitle
	{
	margin-top: 6pt;
	margin-bottom: 6pt;
	text-align: center;
	font-size: 10pt;
	}

h1
	{
	margin-top: 12pt;
	margin-bottom: 12pt;
	margin-left: -7.5pt;
	margin-right: -7.5pt;
	text-align: justify;
	background-image: url(BkgdHead.gif);
	border-top: #CFB88F;
	border-left: #CFB88F;
	border-bottom: #93743F;
	border-right: #AF8B4B;
	border-style: solid;
	border-width: 1.5pt;
	padding: 6pt 6pt 6pt 6pt;
	font-size: 14pt;
	}
h2
	{
	margin-top: 12pt;
	margin-bottom: 6pt;
	margin-left: -5.5pt;
	margin-right: -5.5pt;
	text-align: justify;
	background-image: url(BkgdHead.gif);
	border-top: #CFB88F;
	border-left: #CFB88F;
	border-bottom: #93743F;
	border-right: #AF8B4B;
	border-style: solid;
	border-width: 1.5pt;
	padding: 2pt 4pt 2pt 4pt;
	font-size: 10pt;
	}
h2.Old
	{
	margin-top: 12pt;
	margin-bottom: 6pt;
	margin-left: -5.5pt;
	margin-right: -5.5pt;
	text-align: justify;
	border-top: #ECE3D0;
	border-left: #ECE3BC;
	border-bottom: #6C6250;
	border-right: #756B56;
	border-style: solid;
	border-width: 1.5pt;
	padding: 2pt 4pt 2pt 4pt;
	font-size: 10pt;
	}
h3
	{
	margin-top: 12pt;
	margin-right: 0in;
	margin-bottom: 6pt;
	margin-left: 0in;
	text-align: justify;
	font-size: 10pt;
	}

p.Toc1, li.Toc1
	{
	margin-left: 0pt;
	margin-right: 0in;
	margin-top: 0in;
	margin-bottom: 0in;
	text-align: left;
	font-size: 10pt;
	}
p.Toc2, li.Toc2
	{
	margin-left: 12pt;
	margin-right: 0in;
	margin-top: 0in;
	margin-bottom: 0in;
	text-align: left;
	font-size: 10pt;
	}
p.Codesample0, li.Codesample0
	{
	margin-top: 12pt;
	margin-right: 0;
	margin-bottom: 12pt;
	margin-left: 0in;
	font-family: "Courier New";
	font-size: 9pt;
	}
p.Codesample1, li.Codesample1
	{
	margin-top: 12pt;
	margin-right: 0;
	margin-bottom: 12pt;
	margin-left: 0.25in;
	font-family: "Courier New";
	font-size: 9pt;
	}
p.Codesample2, li.Codesample2
	{
	margin-top: 12pt;
	margin-right: 0;
	margin-bottom: 12pt;
	margin-left: 0.5in;
	font-family: "Courier New";
	font-size: 9pt;
	}
p.CodesampleT, li.CodesampleT
	{
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0in;
	font-family: "Courier New";
	font-size: 9pt;
	}
p.Picture
	{
	margin-top: 12pt;
	margin-bottom: 12pt;
	margin-right: 0;
	margin-left: 0;
	text-align: center;
	font-size: 10pt;
	}
p.Tablecontents, li.Tablecontents
	{
	margin-top: 6pt;
	margin-right: 0in;
	margin-bottom: 6pt;
	margin-left: 0in;
	text-align: justify;
	font-size: 10pt;
	}
p.Tablefirstcolumn, li.Tablefirstcolumn
	{
	margin-top: 6pt;
	margin-right: 0in;
	margin-bottom: 6pt;
	margin-left: 0.25in;
	text-indent: -0.25in;
	font-size: 10pt;
	}
p.InnerTable
	{
	margin-top: 3pt;
	margin-right: 0in;
	margin-bottom: 3pt;
	margin-left: 0in;
	text-align: justify;
	font-size: 10pt;
	}
p.Normal, li.Normal, 
p.Highlight10, p.Highlight11, p.Highlight12, p.Highlight13, p.Highlight14, 
p.Highlight15, p.Highlight16, p.Highlight17, li.Highlight17, 
p.Highlight18, li.Highlight18, p.Highlight19, li.Highlight19, 
p.Highlight20, li.Highlight20, p.Highlight21, li.Highlight21, 
p.Highlight22, li.Highlight22, p.Highlight23, li.Highlight23, 
p.Highlight24, li.Highlight24, p.Highlight25, li.Highlight25, 
p.Highlight26, li.Highlight26, p.Highlight27, li.Highlight27, 
p.Highlight28, li.Highlight28, p.Highlight29, li.Highlight29, 
p.Highlight30, li.Highlight30, p.Highlight31, li.Highlight31, 
p.Highlight32, li.Highlight32, p.Highlight33, li.Highlight33, 
p.Highlight34, li.Highlight34
	{
	margin-top: 6pt;
	margin-right: 0;
	margin-bottom: 6pt;
	margin-left: 0;
	text-align: justify;
	font-size: 10pt;
	}
li.Level2
	{
	margin-top: 6pt;
	margin-right: 0;
	margin-bottom: 6pt;
	margin-left: 0.25 in;
	text-align: justify;
	font-size: 10pt;
	}
li.Level3
	{
	margin-top: 6pt;
	margin-right: 0;
	margin-bottom: 6pt;
	margin-left: 0.5 in;
	text-align: justify;
	font-size: 10pt;
	}
p.Highlight
	{
	margin-top: 12pt;
	margin-right: -6pt;
	margin-bottom: 6pt;
	margin-left: -6pt;
	padding: 6pt;
	background-image: url(BkgdHighlight.gif);
	text-align: justify;
	font-size: 10pt;
	}
p.Highlight35, li.Highlight35
	{
	margin-top: 6pt;
	margin-right: -3pt;
	margin-bottom: 6pt;
	margin-left: -3pt;
	padding: 0pt 6pt 0pt 6pt;
	background-image: url(BkgdHighlight.gif);
	text-align: justify;
	font-size: 10pt;
	}

ol
	{
	list-style-type: disc;
	list-style-position: outside; 
	margin-left: 0.25in;
	padding: 0;
	}
ul
	{
	list-style-type: disc;
	list-style-position: outside; 
	margin-left: 0.25in;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	}

th
	{
	padding: 0in 0.25in 0in 0in;
	vertical-align: top;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 10pt;
	text-decoration: underline;
	}
td
	{
	padding: 0in 0.25in 0in 0in;
	vertical-align: top;
	text-align: left;
	font-size: 10pt;
	font-weight: normal;
	}
td.Last
	{
	padding: 0in 0in 0in 0in;
	vertical-align: top;
	text-align: left;
	font-size: 10pt;
	font-weight: normal;
	}

table.API
	{
	border-width: 0;
	border-collapse: collapse;
	margin-left: 0in;
	margin-right: 0in;
	table-layout: fixed;
	}
table.Constant
	{
	border-width: 0;
	margin-left: 0in;
	margin-right: 0in;
	table-layout: fixed;
	}
td.Value
	{
	padding: 0 0.25in 0 0;
	vertical-align: top;
	text-align: right;
	font-weight: normal;
	font-family: "Courier New";
	font-size: 9pt;
	}

table.UserWare
	{
	background-image: url(BkgdHead.gif);
	border-top: #CFB88F;
	border-left: #CFB88F;
	border-bottom: #93743F;
	border-right: #AF8B4B;
	border-style: solid;
	border-width: 1.5pt;
	padding: 0;
	margin: 12pt 0 12pt 0;
	table-layout: fixed;
	}
td.UserWare
	{
	background-image: url(BkgdBody.gif);
	border-top: #93743F;
	border-left: #AF8B4B;
	border-bottom: #CFB88F;
	border-right: #CFB88F;
	border-style: solid;
	border-width: 1.5pt;
	padding: 2pt 6pt 2pt 6pt;
	margin: 0;
	}

button.Up
	{
	background-image: url(BkgdHead.gif);
	background-color: #CEAE7B;
	border-top: #CFB88F;
	border-left: #CFB88F;
	border-bottom: #93743F;
	border-right: #AF8B4B;
	border-style: solid;
	border-width: 1.5pt;
	padding: 2pt 6pt 2pt 6pt;
	}
button.Down
	{
	background-image: url(BkgdHead.gif);
	background-color: #CEAE7B;
	border-top: #93743F;
	border-left: #AF8B4B;
	border-bottom: #CFB88F;
	border-right: #CFB88F;
	border-style: solid;
	border-width: 1.5pt;
	padding: 2pt 6pt 2pt 6pt;
	}


span.Highlight10, span.Highlight11, span.Highlight12, span.Highlight13, 
span.Highlight14, span.Highlight15, span.Highlight16, span.Highlight17, 
span.Highlight18, span.Highlight19, span.Highlight20, span.Highlight21, 
span.Highlight22, span.Highlight23, span.Highlight24, span.Highlight25, 
span.Highlight26, span.Highlight27, span.Highlight28, span.Highlight29, 
span.Highlight30, span.Highlight31, span.Highlight32, span.Highlight33, 
span.Highlight34
	{
	}
span.Highlight, span.Highlight35
	{
	background-color: #FFFFE0;
	background-image: url(BkgdHighlight.gif);
	padding-left: 2pt;
	padding-right: 2pt;
	}
	
span.Code
	{
	font-family: "Courier New";
	font-size: 9pt;
	}
span.Symbol
	{
	font-family: Webdings;
	}

a:visited
	{
	color: #500000;
	}
a:link
	{
	color: #900000;
	}
a:hover
	{
	color: #D00000;
	}


